  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App>h1 {
  color: green;
}

pre {
  width: 800px;
}

/*
.price-list,.order-list,.control-panel {
  min-height: 800px;
}

.react-grid-Canvas {
  min-height: 800px !important;
}

.react-grid-Main {
  min-height: 800px;
}
*/

.priceList .table {
    text-align: center;
}

.react-tab-panel__body {
  min-width: 100% !important;
}

.price-list {
  min-width: 100% !important;
}

.price-list .react-grid-Container {
  min-width: 100% !important;
  min-height: 800px;
}

.price-list .react-grid-Main {
  min-height: 800px;
}


.price-list .react-grid-Canvas {
  min-height: 1200px !important;
}

.price-list .react-grid-Grid {
  min-height: 1200px !important;
}

.control-panel {
  min-width: 100% !important;
}


.react-tab-panel__body {
  min-width: 100%;
  min-height: 600px;
  min-width: 600px;
}



.react-grid-HeaderCell {
  font-size: 20px !important;
}

.react-tab-panel__tab-strip-between--before-active {
  color: #e74c3c;
}

.ram-panel {
  align-items: center;
}

.add-agent {
  width: 100%;
}

.price-list,.control-panel {
  min-width: 800px;
}

.react-tab-panel__tab-title {
  height: 40px;
  width: 200px;
  font-size: 18px;
}

footer {
  height: 20px;
  color: gray;
  margin-top: 8px;
  margin-bottom: 8px;
}

.react-tab-panel__tab-title--active {
  font-weight: bold;
  color: #e74c3c;
  font-size: 18px;
  font-weight: bold;
  background: #fffff0;
}
.rc-collapse-header {
  background-color: #e6e6ff;
}

.rc-collapse {
  border: 0px !important;
  min-width: 800px;
}
.rc-collapse .rc-collapse-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.product-panel > .rc-collapse-header {
  background-color: #ffcccc;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  color: green;
  text-decoration: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.rc-collapse-item {
    text-align: left;
    color: green;
}

.rc-collapse {
  background-color: white !important;
}


.price-list h4 {
  text-align: center;
  font-weight: bold;
}

.product {
  display: flex;
  justify-content: center;
}

.product > .left {
  display: flex;
  flex-direction: row-reverse;
  min-width: 200px;
  width: 30%;
}
.product > .right {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  width: 50%;
}

.right > ul {
  list-style-type: none;
}

.add-product {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
}

.rc-collapse-item.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.area > ul {
  list-style-type: none;
  min-width: 1000px;
}

.area li {
  display: flex;
  flex-direction: column;
}

.area li label {
  color: #8e44ad;
  font-size: 14px;
  display: inline-block;
}

.area li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.area li input, textarea, select {
  color: #red;
  font-size: 20px;
}

.area li textarea {
  height: 200px;
}

.area .save-button {
  width: 600px;
  height: 40px;
  margin-top: 20px !important;
}

.area li > span{
    display: inline-block;
    font-size: 20px;
    margin-top: -4px;
}


.add-product > ul {
  list-style-type: none;
  min-width: 800px;
  justify-content: center;
}

.add-product li {
  display: flex;
  flex-direction: column;
}

.add-product li label {
  color: #db70b8;
  font-size: 8px;
  display: inline-block;
}

.add-product li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.add-product li input, textarea, select {
  color: #red;
  font-size: 20px;
  width: 600px;
}

.add-product li textarea {
  height: 200px;
}

.add-product .save-button {
  width: 600px;
  height: 40px;
  margin-top: 20px !important;
}

.add-product li > span{
    display: inline-block;
    font-size: 20px;
    margin-top: -4px;
}

.right label {
  color: #db70b8;
  font-size: 10px;
}

.right span {
  color: #5900b3;
  font-size: 20px;
  display: block;
  margin-top: -12px;
}

.add-panel > .rc-collapse-header {
  background-color: white !important;
  text-transform: capitalize !important;
}

.right svg.green {
  color: green;

  border-radius: 4rem;

  opacity: 0.0;

  -webkit-animation: pulsate 1000ms ease-out;
  -webkit-animation-iteration-count: infinite;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.right  svg.red {
  color: red;
  opacity: 0.0;

  -webkit-animation: pulsate 1000ms ease-out;
  -webkit-animation-iteration-count: infinite;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

@-webkit-keyframes pulsate {
  0% {opacity: 0.1;}
  40% {opacity: 1.0;}
  60% {opacity: 1.0;}
  100% {opacity: 0.1;}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f9ecf2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #f9ecf2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #f9ecf2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #f9ecf2;
}


.react-alerts .alert {
  width: 600px;
  min-height: 40px !important;
}

.alert .error {
  color: red;
}

.alert .success {
  color: green;
}

.react-grid-Cell__value div {
  color: black;
  font-size: 18px;
  text-align: left;
}

.editor-main {
  color: blue !important;
  font-size: 24px !important;
  text-decoration: bold !important;
  background: #90D4A6 !important;
}

.react-grid-HeaderCell {
  font-size: 20px;
  color:  #003366;
  min-height: 60px !important;
}

.price-list .react-grid-HeaderRow>div {
  height: 240px !important;
}


.price-list .react-grid-Viewport {
  top: 240px !important;
  overflow-y: scroll !important;
}


.update-button {
  margin-right: 40px !important;
  margin-top: 16px !important;
  background: #D6FFFE;
  height: 40px;
  font-size: 28px;
  border: 2px solid;
  border-radius: 4px;
}

.sms-button {
  margin-left: 40px !important;
  margin-top: 16px !important;
  background: #D6FFFE;
  height: 40px;
  font-size: 28px;
  border: 2px solid;
  border-radius: 4px;
}

.menu-item svg   {
  color: #e74c3c;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.menu-item :hover {
  color: #4183C4;
}

label.required:after {
  content:" *";
}

.pirce-list .react-grid-Header {
  height: 60px !important;
}

div.widget-HeaderCell__value {
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  text-transform: uppercase;
}

.rc-collapse .actions {
  text-align: center;
  font-size: 20px;
}

.product .actions {
  text-align: center;
  font-size: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.action svg {
  color: #d9d9d9;
}

.action :hover{
  color: #c0392b;
  cursor: pointer;
}

.areas .actions .action {
  margin: 0 8px;
}


.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.Home-intro {
  text-align: center;
  margin: 20px 20px;
}

.price-list .react-grid-Header {
    height: 60px !important;
}

.price-list .react-grid-HeaderRow {
  height: 240px !important;
}

.pirce-list div.react-grid-HeaderCell {
  height: 60px !important;
}

.widget-HeaderCell__value {
  font-size: 12px;
}


.price-list .react-grid-HeaderRow .react-grid-HeaderCell:nth-child(odd) {
  background-color: #ecf2f9;
  border-style: solid;
  border-right: 1px black;
  border-collapse: collapse;
  height: 240px !important;
}

.productHeader {
  display: relative;
}

.productHeader img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.productHeader .priceType {
  position: absolute;
  top: 70%;
  left: 30%;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
  font-size: 16px;
}

.productHeader .productType {
  position: absolute;
  top: 2%;
  overflow: hidden;
  text-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.productHeader .priceChange {
    bottom: 0%;
    position: absolute;
    left: 10%;
}

.productHeader .priceChange svg {
  font-size: 32px;
}

.productHeader .priceChange input {
  width: 90px;
  height: 35px;
  padding-bottom: 0px;
  margin-right: -4px;
  font-size: 32px;
}

.productHeader .priceChange a {
  width: 32px;
  height: 32px;
}


.price-list .react-grid-HeaderRow .react-grid-HeaderCell:nth-child(even) {
  background-color: #fff7e6;
  border-style: solid;
  border-left: 1px black;
  border-collapse: collapse;
  height: 240px !important;
}

.price-list .react-grid-Row .react-grid-Cell:nth-child(odd) {
  background-color: #ecf2f9;
  border-style: solid;
  border-right: 1px black;
  border-collapse: collapse;

}

.price-list .react-grid-Row .react-grid-Cell:nth-child(even) {
  background-color: #fff7e6;
  border-style: solid;
  border-left: 1px black;
  border-collapse: collapse;

}

.price-list .react-grid-Row {
  border-collapse: collapse;
}

.price-list ul {
  justify-content: center;
}

.price-list a.active.nav-link {
  font-size: 14px;
  text-decoration: underline;
  font-weight: bolder;
  color: green;
}

.price-list p {
    margin-top: 4px;
    margin-bottom: 2px;
}

.modal-content {
  top: 200px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

label.checkGroup {
    width: 60px;
}

.item-discount {
  text-align: left;
  color: #2980b9;
  font-size: 12px;
  margin-left: 20px;
}

.discounts th {
  font-size: 12px;
  color: #2980b9;
}

.discounts input[type="text"] {
    width: 100px;
}

.all-discounts button {
  width: 200px;
}


.priceList a.active.item {
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: #16a085;
}

.ui .comments {
  overflow-y: auto;
}

.ui.form.createUser {
  margin: auto;
  width: 80%;
}

a.newUserLink {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.feedback {
  margin: auto;
  text-align: center;
  background-color: #16a085;
  min-height: 100Vh;
}


.feedback h1 {
  margin-bottom: 0;
  font-size: 32px;
  color: #16a085;
}

.feedback h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #34495e;
}

.feedback h5 {
  margin-top: 0;
  padding-bottom: 10px;
}

.feedback h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #3498db;
  text-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;

}

.feedback h4 {
  padding-top: 20px;
  margin-bottom: 0;
}

.feedback .field label {
  background-color: #2980b9;
  color: white;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 0px !important;
}

.feedback .field textarea {
  min-height: 200px;
}

.feedback div.form {
  max-width: 800px;
  margin: auto;
  width: 90%;
}

.feedback div.field {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.feedback .ui.input input {
  text-align: center;
  font-size: 20px;
  color: #16a085;
  text-transform: uppercase;
  font-weight: bold;
}

.feedback footer {
  padding-bottom: 40px;
  padding-top: 20px;
}

.printer {
  min-height: 100Vh;
}

#root {
  min-height: 100Vh;
}

.poster.feedback {
  background-color: white;
}

.poster .header h2 {
  text-decoration: none;
}

.poster .qrcode {
  margin-top: 40px;
  margin-bottom: 40px;
}

.feedback.thanks .header {
  padding-top: 40%;
}

.feedback button.ui.fluid.primary.button {
  margin-top: 10px;
}

/* .feedback  .qrcode  canvas {
  height: 512px !important;
  width: 512px !important;
} */
