

.sk-spinner {
    width: 32px;
    height: 32px;
    position: relative;
    margin: 0 auto auto;
    color: #cc0000;
}

.orderData .shop {
  border: 1px solid #dadada;
  margin: 20px -8px 20px -8px;
  padding: 8px;
}

.orderData .details h3 {
  text-align: left;
  font-size: 12px;
  margin-bottom: 4px;
}

.orderData .details h4 {
  text-align: right;
  font-size: 12px;
  padding-top: 0px;

}

.orderData .details table {
  font-size: 10px;
}


.orderData .summary p {
  font-size: 14px;
  text-align: right;
  line-height: 0.4em;
}

.orderData .summary h3 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
}

.orderData .shopsDetails h3 {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
}

.orderData .shopsDetails h3 span.special {
  font-size: 16px;
  color: darkblue;
}

.orderData .shopsDetails .details h3 {
  font-size: 12px;
  margin-bottom: 2px;
}

.orderData .summary hr {
  margin-top: 0px;
}

.orderData .shopsDetails hr {
  margin-top: 0px;
}

.orderData .orderHeader h3 {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.orderData .orderHeader h3 span {
  font-size: 8px;
}

.printPageHeader h5 {
  margin-bottom: 0px;
}

.printPageHeader hr {
  margin-top: 0px;
}


.orderData .orderHeader {
    padding: 8px 0px 8px 0px;
    border: solid 1px;
    margin-bottom: 12px;
}





.orderData .orderHeader table {
  margin: auto;
}
.orderData .orderHeader table td{
  width: 50%;
  font-size: 10px;
}

.orderData .orderHeader table td.key {
  text-align: right;
  text-transform: uppercase;
}
.orderData .orderHeader table td.value {
  text-align: left;
  font-weight: bold;
  font-size: 13px;
}

.orderData .orderHeader table span {
  margin: 0px 4px 0px 4px;
}


.orderData .splMsg {
    text-align: center !important;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffb3;
    width: 60%;
    font-size: 12px;
}

.orderData .splMsg hr {
  margin-bottom: 0px;
}

.orderData .splMsg p {
  padding: 12px 0 12px 0;
}

.orderData .abstract {
  padding: .2cm;
  outline: 4px #FFEAEA solid;
  margin-top: 20px;
}

.orderData .abstract h4 {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.orderData .abstract hr {
  margin-top: 0px;
}


table th {
  font-size: 12px;
}

tr.total td {
  font-size: 16px;
  font-weight: bolder;
}


.orderData .summary table.summary {
  margin: auto;
}

.orderData .summary  table.summary td.value {
  text-align: right;
  font-size: 14px;
}
