html { background-color: #F8F8F8; }
.order { background-color: #F8F8F8; }

.order {
  min-height: 800px;
  justify-content: center;
  display: flex;
  min-width: 100%;
  min-height: 1000px;
}

footer {
  display: inline-block;
  text-align: center;
}


.order .detail {
  width: 80%;
  min-width: 600px;
  border-color: #2980b9;
}

.order .update {
  width: 25%;
  min-width: 400px;
}

.order .shop .react-grid-Main {
  min-height: 100px !important;
}

.order .shop .widget-HeaderCell__value {
  font-size: 14px;
  text-transform: uppercase;;
}


.order .orderUpdate select {
  width: 100%;
}

.order .orderUpdate textarea {
  height: 120px;
}

.order .orderUpdate .save-button {
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 4px 4px;
  padding: -4px -4px;
}

.name {
  text-align: left;
}

.price {
  text-align: right;
}

.number {
  text-align: right;
}

.order .shop {
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.order .detail h3 {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-left: 8px;
}

.detail h4 {
  text-align: right;
  margin-right: 20px;
}

.header h2 {
  text-decoration: underline;
}

.order .summary h3 {
  text-align: right;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.order .summary h4 {
  text-align: right;
  margin-right: 40px;
}

.order table.summary {
  display: inline;
}

.order table.summary td.value {
  text-align: right;
  font-size: 18px;
}

.detail ul {
  text-align: 'center';
  list-style: 'none';
  padding-top: 12px;
  padding-bottom: 12px;
}

.cards {
  overflow: auto;
  max-height: 60%;
}

.card-title {
  text-transform: uppercase;
}

.order .splMsg {
  text-align: center !important;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #ffffb3;
  width: 40%;
  min-width: 400px;
  font-size: 16px;
}

.details table tbody tr>th{
  text-align: right;
}

.details table thead tr>th:first-child{
  text-align: right;
}

.shop {
  transition: all .2s ease-in-out;
}

.shop:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}


.viewUpdateIcon {
  font-size: 32px;
  position: fixed;
  top: 2%;
  right: 2%;
}

.order .detail .header {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.actionIcons {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.shop .details .number.red {
    font-size: 18px;
    background-color: #e67e22;
    font-weight: bolder;
}

.shop .details .number.green {
    font-size: 18px;
    background-color: #2ecc71;
    font-weight: bolder;
}

.order .detail ul.header strong {
  font-size: 20px;
}
