.Site-page {
  min-width: 100% !important;
}

.react-grid-Canvas {
  min-width: 100% !important;
  height: 100% !important;
}

.react-grid-HeaderRow {
  min-width: 100% !important;
}

.order-list {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.order-list .react-grid-Grid{
  height: 800px;
}

.order-list h4 {
  justify-content: center;
}

.orders .react-grid-Container {
  padding: 0 1em;
}