.Site {
  text-align: center;
  height: 40px;
  display: block;
  background: #ff99cc;
  padding-top: 10px;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  position: fixed;
  z-index: 999;
}

.Site-header {
  float: left;
  margin-left: 20px;
}

.menu-item {
  float: right;
  font-size: 14px;
  margin-right: 20px;
  color: #1E70BF;
  cursor: pointer;
  cursor: hand;
}

.Site-page {
  display: inline-block;
  margin-top: 50px;
}

.Site-header img {
  margin: -12px 4px;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 5px 5px -6px black;
     -moz-box-shadow: 0 5px 5px -6px black;
          box-shadow: 0 5px 5px -6px black;
}
